<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 JMango360
 */
-->
<config>
    <modules>
        <Jmango360_Japi>
            <version>3.6.0</version>
        </Jmango360_Japi>
    </modules>

    <global>
        <models>
            <japi>
                <class>Jmango360_Japi_Model</class>
                <resourceModel>japi_resource</resourceModel>
            </japi>
            <japi_resource>
                <class>Jmango360_Japi_Model_Resource</class>
                <entities>
                    <sales_order_aggregated>
                        <table>japi_sales_order_aggregated</table>
                    </sales_order_aggregated>
                </entities>
            </japi_resource>
            <tierprices>
                <rewrite>
                    <price>Jmango360_Japi_Model_Magpleasure_Tierprices_Price</price>
                </rewrite>
            </tierprices>
            <languageselector>
                <rewrite>
                    <observer>Jmango360_Japi_Model_Flagbit_LanguageSelector_Observer</observer>
                </rewrite>
            </languageselector>
        </models>
        <resources>
            <japi_setup>
                <setup>
                    <module>Jmango360_Japi</module>
                    <class>Jmango360_Japi_Model_Resource_Setup</class>
                </setup>
            </japi_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <japi>
                    <to_order>*</to_order>
                </japi>
            </sales_convert_quote>
            <sales_convert_order>
                <japi>
                    <to_quote>*</to_quote>
                </japi>
            </sales_convert_order>
        </fieldsets>
        <blocks>
            <japi>
                <class>Jmango360_Japi_Block</class>
            </japi>
            <checkout>
                <rewrite>
                    <onepage_billing>Jmango360_Japi_Block_Checkout_Onepage_Billing</onepage_billing>
                    <onepage_shipping>Jmango360_Japi_Block_Checkout_Onepage_Shipping</onepage_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <japi>
                <class>Jmango360_Japi_Helper</class>
            </japi>
            <configurableswatches>
                <rewrite>
                    <mediafallback>Jmango360_Japi_Helper_ConfigurableSwatches_Mediafallback</mediafallback>
                </rewrite>
            </configurableswatches>
        </helpers>
        <events>
            <controller_front_init_before>
                <observers>
                    <rest_init_before>
                        <class>japi/observer_controller_front</class>
                        <method>controllerFrontInitBefore</method>
                    </rest_init_before>
                </observers>
            </controller_front_init_before>
        </events>
    </global>

    <frontend>
        <secure_url>
            <japi>/japi/</japi>
        </secure_url>
        <events>
            <controller_action_predispatch>
                <observers>
                    <japi_controller_action_predispatch>
                        <type>singleton</type>
                        <class>japi/observer</class>
                        <method>japiControllerActionPredispatch</method>
                    </japi_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <controller_response_redirect>
                <observers>
                    <japi_controller_response_redirect>
                        <type>singleton</type>
                        <class>japi/observer</class>
                        <method>japiControllerResponseRedirect</method>
                    </japi_controller_response_redirect>
                </observers>
            </controller_response_redirect>
            <controller_action_predispatch_checkout_klarna_success>
                <observers>
                    <vaimo_klarna>
                        <type>singleton</type>
                        <class>japi/observer</class>
                        <method>Vaimo_Klarna__checkoutKlarnaSuccess</method>
                    </vaimo_klarna>
                </observers>
            </controller_action_predispatch_checkout_klarna_success>
            <controller_action_predispatch_japi_checkout_saveShippingMethod>
                <observers>
                    <kega_checkout_correctaddressdata>
                        <class>japi/observer</class>
                        <method>controllerActionPredispatchCheckoutOnepageSaveShippingMethod</method>
                    </kega_checkout_correctaddressdata>
                </observers>
            </controller_action_predispatch_japi_checkout_saveShippingMethod>
            <controller_action_postdispatch_japi_checkout_saveShippingMethod>
                <observers>
                    <tig_postnl>
                        <type>singleton</type>
                        <class>japi/observer</class>
                        <method>controllerActionPostdispatchCheckoutOnepageSaveShippingMethod</method>
                    </tig_postnl>
                </observers>
            </controller_action_postdispatch_japi_checkout_saveShippingMethod>
            <controller_action_postdispatch_checkout_onepage_success>
                <observers>
                    <rest_checkout_success>
                        <class>japi/observer</class>
                        <method>setOrderIdToHeader</method>
                    </rest_checkout_success>
                </observers>
            </controller_action_postdispatch_checkout_onepage_success>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <rest_checkout_success>
                        <class>japi/observer</class>
                        <method>handleErrorCheckout</method>
                    </rest_checkout_success>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <rest_checkout_success>
                        <class>japi/observer</class>
                        <method>handleErrorCheckout</method>
                    </rest_checkout_success>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_paypal_express_return>
                <observers>
                    <rest_checkout_success>
                        <class>japi/observer</class>
                        <method>skipPaypalExpressReview</method>
                    </rest_checkout_success>
                </observers>
            </controller_action_predispatch_paypal_express_return>
            <controller_action_predispatch_paypal_express_placeOrder>
                <observers>
                    <rest_checkout_success>
                        <class>japi/observer</class>
                        <method>skipPaypalExpressReview</method>
                    </rest_checkout_success>
                </observers>
            </controller_action_predispatch_paypal_express_placeOrder>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <rest_checkout_success>
                        <class>japi/observer</class>
                        <method>japiLayoutGenerateBlocksAfter</method>
                    </rest_checkout_success>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <tig_postnl_customer_address_edit_postcodecheck>
                        <type>singleton</type>
                        <class>japi/observer</class>
                        <method>TIG_PostNL__addressBookPostcodeCheck</method>
                    </tig_postnl_customer_address_edit_postcodecheck>
                    <tig_postnl_checkout_onepage_shipping_postcodecheck>
                        <type>singleton</type>
                        <class>japi/observer</class>
                        <method>TIG_PostNL__shippingAddressPostcodeCheck</method>
                    </tig_postnl_checkout_onepage_shipping_postcodecheck>
                    <tig_postnl_checkout_onepage_billing_postcodecheck>
                        <type>singleton</type>
                        <class>japi/observer</class>
                        <method>TIG_PostNL__billingAddressPostcodeCheck</method>
                    </tig_postnl_checkout_onepage_billing_postcodecheck>
                    <tig_postnl_checkout_deliveryoptions>
                        <type>singleton</type>
                        <class>japi/observer</class>
                        <method>TIG_PostNL__addDeliveryOptions</method>
                    </tig_postnl_checkout_deliveryoptions>
                    <customcheckoutfields_commentbox_additional>
                        <type>signleton</type>
                        <class>japi/observer</class>
                        <method>GGMGastro_CustomCheckoutFields__agreements</method>
                    </customcheckoutfields_commentbox_additional>
                </observers>
            </core_block_abstract_to_html_before>
            <customer_register_success>
                <observers>
                    <japi_customer_register_success>
                        <type>singleton</type>
                        <class>japi/observer</class>
                        <method>customerRegisterSuccess</method>
                    </japi_customer_register_success>
                </observers>
            </customer_register_success>
            <controller_action_predispatch_japi_checkout_onepage>
                <observers>
                    <japi_predispatch_japi_checkout_onepage>
                        <type>singleton</type>
                        <class>japi/observer</class>
                        <method>japiOnepagePreDispatch</method>
                    </japi_predispatch_japi_checkout_onepage>
                </observers>
            </controller_action_predispatch_japi_checkout_onepage>
            <controller_action_predispatch_japi_rest_product_search>
                <observers>
                    <klevu_search_landing_page>
                        <type>singleton</type>
                        <class>japi/observer</class>
                        <method>Klevu_Search__applyLandingPageModelRewrites</method>
                    </klevu_search_landing_page>
                </observers>
            </controller_action_predispatch_japi_rest_product_search>
            <sales_model_service_quote_submit_before>
                <observers>
                    <japi_sales_model_service_quote_submit_before>
                        <type>singleton</type>
                        <class>japi/observer</class>
                        <method>japiSalesModelServiceQuoteSubmitBefore</method>
                    </japi_sales_model_service_quote_submit_before>
                </observers>
            </sales_model_service_quote_submit_before>
            <catalog_product_load_after>
                <observers>
                    <japi_catalog_product_load_after>
                        <type>model</type>
                        <class>japi/observer</class>
                        <method>japiCatalogProductLoadAfter</method>
                    </japi_catalog_product_load_after>
                </observers>
            </catalog_product_load_after>
        </events>
        <routers>
            <japi>
                <use>standard</use>
                <args>
                    <module>Jmango360_Japi</module>
                    <frontName>japi</frontName>
                </args>
            </japi>
            <customer>
                <args>
                    <modules>
                        <japi before="Mage_Customer">Jmango360_Japi_Customer</japi>
                    </modules>
                </args>
            </customer>
        </routers>
        <translate>
            <modules>
                <Jmango360_Japi>
                    <files>
                        <default>Jmango360_Japi.csv</default>
                    </files>
                </Jmango360_Japi>
            </modules>
        </translate>
        <layout>
            <updates>
                <japi>
                    <file>jmango360_japi.xml</file>
                </japi>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <japi before="Mage_Adminhtml">Jmango360_Japi_Adminhtml</japi>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <japi>
                    <file>jmango360_japi.xml</file>
                </japi>
            </updates>
        </layout>
        <translate>
            <modules>
                <Jmango360_Japi>
                    <files>
                        <default>Jmango360_Japi.csv</default>
                    </files>
                </Jmango360_Japi>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <rest_action_predispatch>
                        <class>japi/observer</class>
                        <method>restAdminActionPreDispatch</method>
                    </rest_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <core_block_abstract_to_html_before>
                <observers>
                    <japi_core_block_abstract_to_html_before>
                        <class>japi/observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </japi_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <eav_collection_abstract_load_before>
                        <class>japi/observer</class>
                        <method>eavCollectionAbstractLoadBefore</method>
                    </eav_collection_abstract_load_before>
                </observers>
            </eav_collection_abstract_load_before>
            <core_collection_abstract_load_before>
                <observers>
                    <core_collection_abstract_load_before>
                        <class>japi/observer</class>
                        <method>coreCollectionAbstractLoadBefore</method>
                    </core_collection_abstract_load_before>
                </observers>
            </core_collection_abstract_load_before>
        </events>
    </adminhtml>

    <crontab>
        <jobs>
            <japi_aggregate_sales_report_order_data>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>japi/observer::aggregateSalesReportOrderData</model>
                </run>
            </japi_aggregate_sales_report_order_data>
        </jobs>
    </crontab>

    <default>
        <payment>
            <jmango_payment>
                <active>1</active>
                <model>japi/payment</model>
                <order_status>pending</order_status>
                <title>JMango360 Native Payment</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </jmango_payment>
            <jmango_payment_adyen_pin>
                <active>1</active>
                <model>japi/payment_adyen_pin</model>
                <order_status>pending</order_status>
                <title>Adyen Payment Terminal by JMango360</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </jmango_payment_adyen_pin>
        </payment>
        <japi>
            <jmango_rest_api>
                <apiuser>jmango360</apiuser>
                <apikey></apikey>
                <use_token>0</use_token>
            </jmango_rest_api>
            <jmango_rest_catalog_settings>
                <include_all_active>1</include_all_active>
                <attribute_on_listing></attribute_on_listing>
                <attribute_on_details></attribute_on_details>
                <hide_null_value>0</hide_null_value>
                <show_grouped_item_image>0</show_grouped_item_image>
                <custom_css></custom_css>
                <visible_on_app>0</visible_on_app>
                <default_direction></default_direction>
                <exclude_attribute_on_details></exclude_attribute_on_details>
                <attribute_for_tag></attribute_for_tag>
            </jmango_rest_catalog_settings>
            <jmango_app_login_settings>
                <require_login>0</require_login>
            </jmango_app_login_settings>
            <jmango_rest_checkout_settings>
                <shipping_excluded></shipping_excluded>
                <payment_excluded></payment_excluded>
                <onepage>1</onepage>
                <custom_xml></custom_xml>
                <custom_css></custom_css>
                <checkout_url></checkout_url>
                <klarna_popup_urls></klarna_popup_urls>
                <enable_coupon>1</enable_coupon>
                <adyen_pin>0</adyen_pin>
                <adyen_pin_only>1</adyen_pin_only>
            </jmango_rest_checkout_settings>
            <jmango_rest_mobile_settings>
                <ios_scheme></ios_scheme>
                <android_scheme></android_scheme>
            </jmango_rest_mobile_settings>
            <jmango_rest_braintree_settings>
                <enable>0</enable>
                <label></label>
                <sandbox_label></sandbox_label>
                <sandbox>1</sandbox>
                <merchant_account_id></merchant_account_id>
                <merchant_id></merchant_id>
                <public_key></public_key>
                <private_key></private_key>
                <sandbox_merchant_account_id></sandbox_merchant_account_id>
                <sandbox_merchant_id></sandbox_merchant_id>
                <sandbox_public_key></sandbox_public_key>
                <sandbox_private_key></sandbox_private_key>
            </jmango_rest_braintree_settings>
            <jmango_rest_gallery_settings>
                <image_width>1200</image_width>
                <image_height>1200</image_height>
                <small_image_width>800</small_image_width>
                <small_image_height>800</small_image_height>
                <thumbnail_width>400</thumbnail_width>
                <thumbnail_height>400</thumbnail_height>
                <image_default_listing>thumbnail</image_default_listing>
                <catalog_image_default>thumbnail</catalog_image_default>
            </jmango_rest_gallery_settings>
            <jmango_rest_stock_settings>
                <display_product_stock_status>0</display_product_stock_status>
            </jmango_rest_stock_settings>
            <jmango_rest_sales_settings>
                <display_order_from>1</display_order_from>
            </jmango_rest_sales_settings>
            <jmango_rest_customer_settings>
                <display_customer_from>1</display_customer_from>
                <enable_address>0</enable_address>
                <street2_label></street2_label>
                <street2_require>1</street2_require>
                <street2_type>number</street2_type>
                <street3_label></street3_label>
                <street3_require>0</street3_require>
                <street4_label></street4_label>
                <street4_require>0</street4_require>
            </jmango_rest_customer_settings>
            <jmango_smart_app_banner>
                <enable>0</enable>
                <ios_app_id></ios_app_id>
                <android_app_id></android_app_id>
                <days_hidden>15</days_hidden>
                <days_reminder>90</days_reminder>
                <app_store_language>nl</app_store_language>
                <title>My App</title>
                <author>My Company</author>
                <button>VIEW</button>
                <store_ios>On the App Store</store_ios>
                <store_android>In Google Play</store_android>
                <price_ios>FREE</price_ios>
                <price_android>FREE</price_android>
                <apple_touch_icon></apple_touch_icon>
                <android_touch_icon></android_touch_icon>
            </jmango_smart_app_banner>
            <jmango_rest_bazaarvoice_settings>
                <enable></enable>
                <env>staging</env>
                <api_key_stg></api_key_stg>
                <api_key_prod></api_key_prod>
                <shared_key></shared_key>
                <client_label></client_label>
                <tc></tc>
                <rating_label></rating_label>
                <displaycode></displaycode>
                <fq></fq>
            </jmango_rest_bazaarvoice_settings>
            <jmango_rest_developer_settings>
                <enable>0</enable>
                <exclude_modules><![CDATA[TIG_PostNL
Chronopost_Chronorelais]]></exclude_modules>
            </jmango_rest_developer_settings>
        </japi>
    </default>
</config>
